body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url("../upload/paciente.jpg") no-repeat center center fixed;
    background-size: cover;
}

.login-caja {
    position: absolute;
    border-radius: 10px;
    max-width: 100%;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px lightskyblue;
}

.centrar {
    text-align: center;
    margin: 0 auto;
}

.boton {
    width: 100%;
    background: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0;
}
.boton:hover{
    background-color: cornflowerblue;
}

.diagnostico1 {
    font-size: 16px;
    max-width: 100%;
    height: auto;
    text-align: start;
    display: block;
}

.reg {
    text-align: center;
    font-size: 16px;
}

.boton1{
    width: 12%;
    background: none;
    border: 2px solid black;
    color:black;
    font-size: 20px;
    cursor: pointer;
    background: white;
    

}
.boton1:hover{
    background-color: #0075ff;
}
@media screen and (max-width: 760px) {
    body {
        font-size: 14px; 
        background-size: 1000%;
    }
    div {
        overflow-x: auto; 
    }
    table {
        margin-top: 5px;
    }

    .boton{
        width: 100%;
        background: none;
        border: 2px solid black;
        color:black;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 2px 0;
        
    }

    .boton1{
        width: 100%;
        background: white;
        border: 2px solid black;
        color:black;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 2px 0;
        
    }
}
.diag__form__error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;  
}

.diag__form__error__activo {
    display: block;  
}

.form_msj_exito {
    font-size: 14px;
    color: #119200;
    display: none; 
}

.form_msj_exito_activo {
    display: block; 
}

.formulario__grupo_incorrecto .diag_label{
    color: #bb2929;

}

.formulario__grupo_incorrecto .diag__forminput{
    border: 3px solid #bb2929;

}

.formulario__grupo_correcto .diag__forminput{
    border: 3px solid #1ed12d;

}

.visible {
    display: block; 
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 20px; 
    padding: 13px 0;
    margin: 13px 0;
    margin-bottom: 20px;
    text-align: center;
}

.oculto {
    display: none;
}
