body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("../upload/fotoparafondoindex.jpg") no-repeat center center fixed;
    background-size: cover;
}

form {
    text-align: center;
    position: relative;
    margin: 4% auto;
    width: 50%; /* Ajusta el ancho del formulario según tu preferencia */
}

.cuadro_de_texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 5px;
    background-color: rgb(190, 208, 234);
    margin-bottom: 40px;
    width: 80%; /* Ajusta el ancho del cuadro de texto según tu preferencia */
    margin: 0 auto;

}

.etiqueta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    margin-top: 10px;

}

.boton {
    margin-top: 20px;
    background: black;
    border-radius: 5px;
    border: 2px solid white;
    width: 160px;
    height: 35px;
    cursor: pointer;
    background: black;
    color: white;
    margin-top: 10px;
}

.boton:hover {
    color: #ffcc00;
}

@media screen and (max-width: 700px) {
    .cuadro_de_texto {
        font-size: 20px;
        width: 90%;
    }

    .boton {
        width: 70%;
        font-size: 20px;
    }
}
