body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background: url("../upload/fondopaciente.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-caja {
  color: rgb(25, 13, 13);
}

h3 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.tabla-responsive {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 20px;
  background-color: #fff;
}

th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
  font-weight: bold;
}


.centrar {
  text-align: center; /* Alinear al centro */
}

#anotar {
  color: rgb(19, 19, 19);
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px; /* Añadir margen superior */
}

.boton1 {
  float: right; /* Alinea el botón a la derecha */
  width: auto;
  background: none;
  color: black;
  padding: 8px 16px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.boton1:hover {
  background-color: #007bff;
}


.boton {
  width: auto; /* Ancho automático */
  background: none;
  color: black;
  padding: 8px 16px; /* Aumentar el espacio interior */
  font-size: 20px;
  margin: 10px; /* Aumentar el margen */
  cursor: pointer;
}

.boton:hover {
  background-color: #007bff;
}

/* Estoy configurando el responsive */
@media screen and (max-width: 950px) {
  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  table {
    margin-top: 10px;
  }
}

