body {
  font-family: 'Arial', sans-serif;
  background-image: url("../upload/imagen1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Estilo mejorado para los botones */
.boton, .boton1 {
  background-color: #6893e8; /* Color de fondo */
  border: none;
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  margin: 6px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Cambio de color al pasar el cursor */
.boton:hover, .boton1:hover {
  background-color: #abd9ef; /* Color de fondo al pasar el cursor */
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black; /* Bordes de la tabla */
  margin-top: 20px;
}

th, td {
  border: 1px solid #766868; /* Bordes de las celdas */
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

th {
  background-color: #abd9ef; /* Color de fondo de las celdas de encabezado */
  color: rgb(3, 12, 15);
  font-weight: bold;
}

#miTabla {
  background-color: rgb(215, 247, 250);
}

tr:nth-child(even) {
  background-color: hsl(231, 27%, 45%); /* Color de fondo de las filas pares */
}

tr:hover {
  background-color:white;
}

/* Media queries para ajustar los estilos en dispositivos móviles */
@media screen and (max-width: 768px) {
  .boton, .boton1 {
    width: 100%; 
    margin: 6px 0; 
  }

  table {
    font-size: 14px; 
  }
}

@media screen and (max-width: 600px) {
  th:nth-child(1),
  td:nth-child(1) {
    display: none;
  }

  table {
    font-size: 12px;
  }
}
