body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("../upload/fotoparafondoindex.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
}

form {
    text-align: center;
    position: relative;
    margin-left: 17%;
    margin-top: 5%;
}

.separacion {
    margin-right: 25%;
}

.cuadro_de_texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: none;
    outline: none;
    background: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(65, 165, 226);
    margin-bottom: 30px; /* Reducir el espacio entre los inputs y los botones */
}

.etiqueta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block; /* Convertir la etiqueta en un bloque */
}

.boton {
    margin-top: 1%;
    background: none;
    border-radius: 5px;
    border: 2px solid white;
    width: 160px;
    height: 35px;
    cursor: pointer;
    background: black;
    color: white;
    margin-top: 20px; /* Reducir el espacio entre los botones */
}
.boton:hover {
    color: #ffcc00;
}

#enviar {
    margin-left: -20%;
}

#administrador {
    background: transparent;
    width: 15px;
    height: 15px;
    margin-bottom: 50px;
}

@media screen and (max-width:700px) {
    .etiqueta {
        text-align: center;
        margin-left: 10%;
        margin-right: 90%;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    .cuadro_de_texto {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-left: 10%;
        margin-right: 90%;
    }

    .boton {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        height: 40px;
        width: 215px;
        margin-bottom: 2%;
        margin-left: 50%;
        margin-right: 50%;
    }

    #enviar {
        margin-left: 40%;
    }

    #administrador {
        margin-left: 10%;
        margin-right: 90%;
        height: 25px;
        width: 25px;
    }
}
