body{  
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  background-image: url("../upload/login3.jpg");
  background-size: cover;

  
  }


.loginpan1{
  width: 300px;
  position: absolute;   
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  border-bottom: 1px lightskyblue;
  
  
}

.loginpan1 h1{
  font-size: 40px;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color:  rgb(65, 165, 226);
  margin-bottom: 50px;
  padding: 13px 0;

  

}
.texto{
  width: 70%;
  overflow: absolute;
  font-size: 20px;
  padding: 13px 0;
  margin: 13px 0;
  margin-bottom: 20px;
}
.texto p{
  width: 26px;
  float: left;
  text-align: center;
}

.log__form__input{
  border: none;
  outline: none;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 90%;
  float: left;
  margin: 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:  rgb(65, 165, 226);

}
.boton{
  width: 100%;
  background: none;
  border: 2px solid rgb(65, 165, 226);
  color:black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 2px 0;
  
}

.log__form__input_error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;

}

.log__form__input_error_activo{
  display: block;
}
.boton:hover {
  background-color: #0056b3;
}

/*Reajunte resposive.*/
@media only screen and (min-width:200px) and (max-width:768px){
	.form-register{
		width: 100%;
	}
}
/* Estilo para los elementos de clase "error" */
.error {
  color: red;
  padding: 10px; 
}

/* Estilo para los elementos de clase "reg" */
.reg {
  display: inline-block;
  padding: 10px 20px; 
  color: #0e0000; 
  cursor: pointer; 
  border: 2px solid rgb(65, 165, 226);
  border-radius: 5px; 
  font-size: 16px; 
  margin: 8px;
}
.reg:hover {
  background-color: #0056b3;
}



