/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header a.reg {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

header a.reg:hover {
    color: #ffcc00;
}
h2{
    margin-left: 10px; 
}
p{
    margin-left: 10px; 
}

.admin{
    margin-left: 75px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clave_generada {
    display: none;
}

#boton_generador {
    background-color: #72a7e3;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; 
}

#boton_generador:hover {
    background-color: #0058b3;
}


#es_administrador {
    margin-left: 10px; 
    vertical-align: middle;

}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    header {
        padding: 10px 0;
    }

    nav ul li {
        margin-right: 5px; 
    }

    table {
        margin-top: 5px;
    }
}


