body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../upload/fotoparafondoindex.jpg");
  background-size: cover;
}

.boton2 {
  text-decoration: none;
  background-color: #000000; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;

}
.boton2:hover {
  color: #ffcc00;
}

a {
  text-decoration: none;
  background-color: #000000; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  color: #ffcc00;
  color: #000;
  cursor: pointer; 
}


div {
  margin: 20px;
}


select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3498db; 
  border-radius: 5px;
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border: none; 
}

td, th {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.centrar {
  position: relative;
  left: 50%;
  width: 50%;
}

#anotar {
  position: relative;
  left: 45%;
}

.boton {
  width: 10%;
  background: none;
  color: black;
  padding: 2px;
  font-size: 20px;
  margin: 6px;
}

.boton1 {
  width: 50%;
  background: none;
  color: black;
  padding: 2px;
  font-size: 20px;
  margin: 6px;
}

.textoConAccion {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}



@media screen and (max-width: 768px) {
.boton2 {
  display: block;
  width: 100%;
  margin: 10px 0;
  float: none;
}

table {
  font-size: 14px;
}
.boton,
.boton1 {
  width: 100%;
}
  
.centrar, #anotar {
  left: 0;
  width: 100%;
  text-align: center;
}

.textoConAccion {
  display: block;
  text-align: center;
}

}
