body {
  font-family: 'Arial', sans-serif;
  background-image: url("perrito.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.botones {
  background: none;
  color: rgb(211, 197, 197);
  padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
  font-size: 16px; /* Reduce el tamaño de fuente */
  margin: 6px;
  display: inline-block; /* Coloca los botones en línea en lugar de ocupar todo el ancho */
  border: 1px solid rgb(218, 201, 201); /* Agrega un borde al botón */
  border-radius: 5px; /* Añade esquinas redondeadas */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black; /* Bordes de la tabla */
  margin-top: 20px;
}

th, td {
  border: 1px solid #333; /* Bordes de las celdas */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #333; /* Color de fondo de las celdas de encabezado */
  color: blanchedalmond;
  font-weight: bold;
}

#miTabla {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: hsl(336, 12%, 45%); /* Color de fondo de las filas pares */
}

tr:hover {
  background-color: #f2d1b5; /* Cambia el color de fondo al pasar el mouse por una fila */
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    background-size: cover; /* Cambiado a 'cover' para mantener la imagen de fondo igual en dispositivos móviles */
  }

  table {
    margin-top: 5px;
  }
}
