body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("fondopaciente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    
  
}
.login-caja{
  position: absolute;   
  color: rgb(25, 13, 13);
   
}

h3{
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

 }
  
td, th {
  border: 2px solid #151414;
  text-align: center;
  padding: 8px;
}

.centrar{
  position: relative;
  left: 30%;
}
#anotar
{
  position: relative;
  left: 70%;
  border: 1px solid black;
  margin-bottom: center;
  width: 20%;
  color: black;
  padding: 3px;
  font-size: 20px;

}
.boton1{
  width: 40%;
  color: black;
  padding: 2px;
  font-size: 20px;

}
.boton1:hover {
  background-color: #0056b3;
}
.boton{
  width: 10%;
  background: none;
  color: black;
  padding: 2px;
  font-size: 20px;
  margin: 6px;
  }
.boton:hover {
  background-color: #0056b3;
}

/* Estoy configurando el responsive */
@media screen and (max-width: 950px) {
  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  table {
    margin-top: 10px;
  }
}

@media only screen and (min-width:70px) and (max-width: 950px) {
  .centrar {
    left: 0; /* Restablecer el posicionamiento en el centro */
  }

  .boton1 {
    width: -100%;
  }

  .boton {
   
    margin: 10px auto; /* Centra horizontalmente el botón */
    
    width: -20%;
    margin-top: 10px;
  }
  #volver {
    position: relative; /* Cambiar a posicionamiento relativo */
    margin-left: 0; /* Superponer el botón sobre la tabla */
    margin-top: 0; /* Restablecer el margen superior */
  }
}



@media only screen and (min-width:70px) and (max-width:950px){
	.form-register{
		width: 5%;
    background-size: cover;
	}
}


