body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("fotoparafondoindex.jpg");
    background-size: cover;
      
    
}

.login-caja{
    position: absolute;   
    border-radius: 10px;
    width: 300px;   
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-bottom: 2px lightskyblue;
        
     
}

.centrar{
    margin-left: 40%;
}

.boton{
    width: 100%;
    background: none;
    color: black;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0;
    
  }
.diagnostico1{
    font-size: 50px;
    

  }