<!DOCTYPE html>
<html>
<head>
    <title>Página de Administrador</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styleadministradorPerfil.css">
</head>
<body>
    <header>
        <h1>Panel de Administración</h1>
        <nav>
            <ul>
                <li><a class="reg" id="editar">Editar Usuario</a></li>
                <li><a class="reg" id="cerrar">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <h2>Bienvenido, Administrador: "{{ usuario }}"</h2>
    <p>En esta página, puedes realizar las acciones de administración.</p>

    <p><button id="boton_generador">GENERADOR DE CLAVES AUTOMATICAS</button>  
    </p>
    <div class="admin">
        ¿Es administrador?
        <input type="checkbox" id="es_administrador" name="es_administrador">
    </div>
    
    <div> <p id="clave_generada">Clave Generada:</p>
    <div id="resultado_generacion"></div>
    </div>
    
    <div>
        <fieldset>
            <table id="miTabla">
                <thead>
                    <tr>
                        <th id="columna">ID</th>
                        <th id="columna">Clave</th>
                        <th id="columna">Administrador</th>
                    </tr>
                </thead>
                <tbody id="cuerpo">
                </tbody>
            </table>      
        </fieldset>
    </div>
        
    <script src="../static/js/administradorPerfil.js"></script>
</body>
</html>
