<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnóstico</title>
    <link rel="stylesheet" href="../static/css/stylediag.css">
</head>
<body>
    <div>
        <fieldset class="login-caja">
            <form id="formulario" action="" method="get">
                <h1>Diagnóstico</h1>
                <p class="texto">
                <div>
                    <label for="Fecha">Fecha</label><br>
                    <input type="date" name="Fecha" id="Fecha" title="Ingrese una fecha" required><br>

                </div>
                <div>
                    <label for="text">Motivo de concurrencia</label><br>
                    <input type="text" name="Motivo de concurrencia" value=""  id="Motivo" required /><br>
                </div>
                <div>
                    <label for="text">Nombre del Medico</label><br>
                    <input type="text" name="Nombre del medico" value="" id="Nombre" required /><br>
                </div>   
                <div> 
                    <label for="text" class="centrar">Diagnóstico médico</label><br>
                    <textarea class="diagnostico1" name="DiagnosticoMedico" id="Diag" required ></textarea><br>
                </div>
                <div>
                    <label for="text" class="centrar">Descripción</label><br>
                    <textarea class="diagnostico1" name="Descripcion" id="Descri" required ></textarea><br>
                </div>    
                    <input type="submit" name="Enviar diagnostico" class="boton">
                </p>
            </form>
        </fieldset>
    </div>
    <script src="../static/js/diagnostico5.js"></script>
</body>
</html>
