<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil del Médico</title>
    <link rel="stylesheet" href="../static/css/stylePerfilMedico.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <span><button class="boton1" id="volver">Volver</button></span>
    <div class="container">
        <h1>Editar Perfil del Médico</h1>
        <form >
            <div class="option">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" {{ nombre }}>
            </div>
            <hr>
            <div class="option">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" {{ apellido }}>
            </div>
            <hr>
            <hr>
            <div class="option">
                <label for="foto">DNI:</label>
                <input type="text" id="dni" name="foto" {{ dni }}>
            </div>
            <hr>
            <div class="option">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" {{ email }}>
            </div>
            <hr>
            <hr>
            <div class="option">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" {{ usuario }}>
            </div>
            <hr>
            <hr>
            <div class="option">
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula" {{ matricula }}>
            </div>
            <hr>
            <input type="submit" value="Guardar Cambios" class="boton">
        </form>
    </div>
    <script src="../static/js/editarperfilMedico.js"></script>
</body>
</html>
