<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/styleindex.css">   
    <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="inicio">
        <h1>Bienvenido {{usuario}}</h1>
        <h2 class="text"> Seleccione una opción:</h2>
        <h5 class="reg" id="paciente">Todos los Pacientes.</h5>
        <h4 class="reg" id="Perfil">Perfil del Medico.</h4>
        <h6 class="reg" id="cerrar">Cerrar sesion.</h4>
        </p>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>
