<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/stylelogin.css">   
    <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="loginpan1">
        <h1>Ingresar</h1>
        <form id="login-form" action="/GuardarDatosPerfil" method="post" class="login-form">
            <div id="grupo_email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="log__form__input" />
                <p class="log__form__input_error">El email tiene que ser escrito correctamente</p>
            </div>
            <div  id="grupo_contrasena">
                <p class="texto">
                    <label for="contrasena">Contraseña</label> 
                    <input type="password" name="contrasena" id="contrasena" class="log__form__input"  />
                </p>
            
            </div>
            <div class="formulario__mensaje" id="formulario__mensaje">
                <p> <b>Error:</b>Por favor rellene el formulario correctamente</p>
           </div>
            <p>
                <input type="submit" name="submit" value="Ingresar" class="boton"  />
                <div> <p id="mensaje-error" class="error">{{errorVar}}</p> </div>
                <h5 class="reg" id="olvideContra">Olvide la contraseña.</h5>
                <h4 class="reg" id="registrarse">Registrarse aquí.</h4>
            </p>
        </form>
    </div>
    <script src="../static/js/login2.js"></script>
</body>
</html>
