<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/stylelogin.css">   
</head>
<body>
    <div class="loginpan1">
        <h1>Ingresar</h1>
        <form id="login-form" action="/GuardarDatosPerfil" method="post">
            <div>
                <p class="texto">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="Email" class="input" />
                </p>
            </div>
            <div>
                <p class="texto">
                    <label for="contrasena">Contraseña</label> 
                    <input type="password" name="contrasena" id="contrasena" class="input"  />
                </p>
            </div>
            <p>
                <input type="submit" name="submit" value="Ingresar" class="boton"  />
                <div> <p id="mensaje-error" class="error">{{errorVar}}</p> </div>
                <h5 class="reg" id="olvideContra">Olvide la contraseña.</h5>
                <h4 class="reg" id="registrarse">Registrarse aquí.</h4>
            </p>
        </form>
    </div>
    <script src="../static/js/login2.js"></script>
</body>
</html>
