<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <link rel = "stylesheet" type = "text/css" href="../static/css/stylemodificarUsuario.css">
</head>
<body>
    <div>
        <button class="boton" id="volver">Volver</button>
    </div>
    <div>
        <form>
            <div>
                <div class = "separacion">
                        <label class = "etiqueta">Nombre</label>
                        <input type="text" id="nombre" class="cuadro_de_texto">
                </div>
                <div class = "separacion">
                    <label class = "etiqueta">Apellido</label>
                    <input type="text" id="apellido" class="cuadro_de_texto">
                </div>
            </div>
            <div>
                <div class = "separacion" id="dnist">
                    <label class = "etiqueta">DNI</label>
                    <input type = "text" id = "dni" class = "cuadro_de_texto">
                </div>
                <div class = "separacion">
                    <label class = "etiqueta">Matricula</label>
                    <input type = "text" id = "matricula" class = "cuadro_de_texto">
                </div>
            </div>
            <div>
                <div class = "separacion">
                    <label class = "etiqueta">Usuario</label>
                    <input type = "text" id = "usuario" class = "cuadro_de_texto">
                </div>
                <div class = "separacion">
                    <label class = "etiqueta">Contraseña</label>
                    <input type = "text" id = "contrasenia" class = "cuadro_de_texto">
                </div>
            </div>
            <div>
                <div class = "separacion">
                    <label class = "etiqueta">Email</label>
                    <input type = "text" id = "email" class = "cuadro_de_texto">
                </div>
                <div class = "separacion">
                    <label class = "etiqueta">Administrador</label>
                    <input type = "checkbox" id = "administrador">
                </div>
            </div>
            <div>
                <input type = "submit" value = "Guardar" class = "boton" id = "enviar">
            </div>
        </form>
    </div>
</body>

</html>