<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylemodificarUsuario.css">
</head>
<body>
    <button class="boton" id="volver">Volver</button>
    <div class="contenedor-formulario">
        <form action="/Edita_datos_usuario" id="form">
                <div class="separacion">
                    <label for="nombre" class="etiqueta">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="cuadro_de_texto" {{ nombre }}>
                </div>
                <div class="separacion">
                    <label for="apellido" class="etiqueta">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="cuadro_de_texto" {{ apellido }}>
                </div>
                <div class="separacion" >
                    <label for="dni" class="etiqueta">DNI</label>
                    <input type="number" name="dni" id="dni" class="cuadro_de_texto" {{ dni }}>
                </div>
                <div class="separacion">
                    <label for="matricula" class="etiqueta">Matricula</label>
                    <input type="text" name="matricula" id="matricula" class="cuadro_de_texto" {{ matricula }}>
                </div>
                <div class="separacion">
                    <label for="usuario" class="etiqueta">Usuario</label>
                    <input type="text" name="usuario" id="usuario" class="cuadro_de_texto" {{ usuario }}>
                </div>
                <div class="separacion">
                    <label for="contrasenia" class="etiqueta">Contraseña</label>
                    <input type="text" name="contrasenia" id="contrasenia" class="cuadro_de_texto" {{ contrasenia }}>
                </div>
                <div class="separacion">
                    <label for="email" class="etiqueta">Email</label>
                    <input type="text" name="email" id="email" class="cuadro_de_texto" {{ email }}>
                </div>
            <div class="contenedor-boton">
                <input type="submit" name="submit" value="Guardar" class="boton" id="enviar" />
            </div>
        </form>
    </div>
    <div id="error-mensaje" class="error"></div>
    <script src="../static/js/modificarUsuario.js"></script>
</body>
</html>
