<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvide contraseña</title>
    <link rel="stylesheet" href="../static/css/styleolvCon.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <span><button class="boton1" id="volver">Volver</button></span>
    <form action="" method="post" id="olvCon-form" class="olvCon-form">
        <h1 class = "etiqueta_principal">Recuperar Contraseña</h1>
        {% if primero %}
        <div class="formulario__grupo" id="grupo__email">
            <label for="email" class="form_label">Email</label><br>
            <input type="text" name="email" id="email" class="olvCon__input" placeholder=""/>
            <p class="olvCon__input_error">El email tiene que ser de 4 a 16 digitos y solo puede contener letras, numeros y guion bajo</p>
        </div>
        <div class="formulario__mensaje" id="formulario__mensaje">
             <p> <b>Error:</b>Por favor rellene el formulario correctamente</p>
        </div>
        <br>
    
        <div class="formulario__boton">
             <button class="form__boton" id = "enviar" type = "button">Verificar</button>
             <p class="form_msj_exito" id="form_msj_exito">El mail fue enviado con exito</p>
         </div>
    {% elif segundoPaso %}
    <div>
        <div class="formulario__grupo">
            <label for = "clave" class = "form_label">Claves</label>
            <input type="text" name="clave" id="clave" class="olvCon__input" placeholder=""/>
        </div>
        <div class="formulario__boton">
            <button class="form__boton" id = "confirmarClave" type = "button">Confirmar</button>
        </div>
    </div>
    {% elif tercerPaso %}
    <div>
        <div class="formulario__grupo">
            <label for = "nuevaContra" class = "form_label">Nueva contraseña</label>
            <input type="password" name="nuevaContra" id="nuevaContra" class="olvCon__input" placeholder=""/>
            <label for = "repetir" class = "form_label">Repetir contraseñna</label>
            <input type="password" name="repertir" id="repetir" class="olvCon__input" placeholder=""/>
        </div>
        <div class="formulario__boton">
            <button class="form__boton" id = "confirmarCambio" type = "button">Confirmar cambio</button>
        </div>
    </div>
    {% endif %}
    </form> 
    <script src="../static/js/olvidelaconta6.js"></script>
    
</body>
</html>