<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styleolvCon.css">
</head>
<body>
    <span><button class="boton1" id="volver">Volver</button></span>
    <form action="" method="post" id="olvCon-form" class="olvCon-form">
        <h1>Recuperar Contraseña</h1>
        <div class="formulario__grupo" id="grupo__email">
            <label for="email" class="form_label">Email</label><br>
            <input type="email" name="email" id="email" class="olvCon__input" placeholder=""/>
            <p class="olvCon__input_error">El email tiene que ser de 4 a 16 digitos y solo puede contener letras, numeros y guion bajo</p>
        </div>
        <div class="formulario__mensaje" id="formulario__mensaje">
             <p> <b>Error:</b>Por favor rellene el formulario correctamente</p>
        </div>
        <br>
    
        <div class="formulario__boton">
             <button type="submit" class="form__boton">Enviar</button>
             <p class="form_msj_exito" id="form_msj_exito">El mail fue enviado con exito</p>
         </div>
    </form>
    <script src="../static/js/olvidelaconta6.js"></script>
    
</body>
</html>