<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" href="../static/css/stylepaciente.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
</head>
<body class="login-caja">
    <span><button class="boton" id="volver">Volver</button></span>
    <span><button class="boton1" id="anotar">Añadir diagnostico</button></span>
    
    <div class="centrar">
        <h3>Historia Clinica de {{ paciente }}</h3>
        <table id="miTabla">
            <tr>
                <th>Diagnostico medico</th>
                <th>Descripción</th>
                <th>Fecha de atencion</th>
                <th>Motivo de atencion</th>
                <th>Nombre del medico</th>          
            </tr>
        <tbody id = "cuerpo">
        </tbody>
            
        </table>
    </div>
    <script src = "../static/js/paciente.js"></script>
</body>
</html>