    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil Médico</title>
        <link rel="stylesheet" href="../static/css/stylePerfilMedico.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='upload/favicon.ico') }}" type="image/x-icon">

    </head>
    <body>
        <span><button class="boton1" id="volver">Volver</button></span>
        <div class="tabla">
            <h1>Perfil del Médico</h1>
            
            <div class="casillero">
                <label for="nombre">Nombre:</label>
                <span id="nombre">{{Nombre del Médico}}</span>
            </div>
            <hr>
            <div class="casillero">
                <label for="apellido">Apellido:</label>
                <span id="apellido">{{Apellido del Médico}}</span>
            </div>
            <hr>
            <div class="casillero">
                <label for="email">Email:</label>   
                <span id="email">{{email}}</span>
            </div>
            <hr>
            <div class="casillero">
                <label for="usuario">Usuario:</label>
                <span id="usuario" >{{usuario}}</span>
            </div>
            <hr>
            <hr>
            <div class="casillero">
                <label for="matricula">Matricula médica:</label>
                <span id="matricula" >{{matricula}}</span>
            </div>
            <hr>
            <input id="siguiente" type="submit" name="submit" value="editarPerfil" class="boton"  />
        </div>
        <script src="../static/js/perfilmedico.js"></script>
    </body>
    </html>
