<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Administración</title>
    <link rel="stylesheet" href="../static/css/styletablaAdm.css">
</head>
<body>

    <div>
        <a class="boton2" id="volver">Volver</a>
        <a class="boton2" id="eliminarusuario">Eliminar Usuario</a> 
    </div>
    <div>
        <select id="criterio">
            <option value="Nombre">Nombre</option>
            <option value="Apellido">Apellido</option>
            <option value ="DNI">DNI</option>
            <option value ="Matricula medica">Matrícula del médico</option>
            <option value ="Usuario">Usuario</option>
            <option value = "Contraseña">Contraseña</option>
            <option value = "EMail">Email</option>
        </select>
        <input type="text" id="buscador" placeholder="Buscar">
    </div>
    <div>
        <fieldset>
            <table id="miTabla">
                <thead>
                    <tr>
                        <th id="seleccionar">Seleccionar</th>
                        <th id="columna">Nombre</th>
                        <th id="columna">Apellido</th>
                        <th id="columna">DNI</th>
                        <th id="columna">Matrícula del médico</th>
                        <th id="columna">Usuario</th>
                        <th id="columna">Contraseña</th>
                        <th id="columna">Email</th>
                    </tr>
                </thead>
                <tbody id="cuerpo">
                </tbody>
            </table>      
        </fieldset>
    </div>
    <script src="../static/js/tablaAdm.js"></script>
</body>
</html>
