<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
    <link rel="stylesheet" href="../static/css/styletablaPrueba.css">
</head>
<body>

<span><button class="boton" id="volver">Volver</button></span>
<span><button class="boton1" id="añadirpaciente">Añadir Paciente</button></span>



<div>
  <select id="criterio">
    <option value="Nombre">Nombre</option>
    <option value="Apellido">Apellido</option>
    <option value ="DNI">DNI</option>
    <option value ="Nro_de_Afiliado">Nro de Afiliado</option>
    <option value ="Obra_Social">Obra Social</option>
    <option value = "Nro_de_obra_social">Nro de obra social</option>
    <option value = "Nro_de_telefono">Nro de telefono</option>
    <option value = "Domicilio">Domicilio</option>
    <option value = "Fecha_de_indexacion">Fecha de indexación</option>
  </select>
    <input type="text" id="buscador" placeholder="Buscar">
</div>
<table id="miTabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Nro de Afiliado</th>
            <th>Obra Social</th>
            <th>Nro de Obra Social</th>
            <th>Nro de Teléfono</th>
            <th>Domicilio</th>
            <th>Fecha de indexación</th>
        </tr>
    </thead>
    <tbody>
        <tr class="fila">
            <td id = "1">Juan</td>
            <td id = "1">Pérez</td>
            <td id = "1">12345678</td>
            <td id = "1">56789</td>
            <td id = "1">ObraSocial A</td>
            <td id = "1">12345</td>
            <td id = "1">555-555-5555</td>
            <td id = "1">Dirección 123</td>
            <td id = "1">2023-10-25</td>
        </tr>
        <tr class="fila">
          <td>fiorella</td>
          <td>clavalero</td>
          <td>12345678</td>
          <td>56789</td>
          <td>osde A</td>
          <td>12345</td>
          <td>234455433</td>
          <td>Dirección 123</td>
          <td>2023-10-25</td>
      </tr>
      <tr class="fila">
        <td>nacho</td>
        <td>guti</td>
        <td>12345678</td>
        <td>56789</td>
        <td>osba A</td>
        <td>12345</td>
        <td>111111111</td>
        <td>Dirección 234</td>
        <td>2021-10-25</td>
    </tr>
    </tbody>
</table>
    <script src = "../static/js/tablaPrueba.js"></script>
</body>
</html>